#*
#!EPIC-rgb-audio/*
#!.gitignore
checkpoints/
*sound_features/

tmp.py
**/__pycache__/
EPIC-rgb-audio/mmaction/apis/__pycache__
EPIC-rgb-audio/mmaction/core/bbox/assigners/__pycache__
EPIC-rgb-audio/mmaction/core/bbox/__pycache__
EPIC-rgb-audio/mmaction/core/evaluation/ava_evaluation/__pycache__
EPIC-rgb-audio/mmaction/core/evaluation/__pycache__
EPIC-rgb-audio/mmaction/core/hooks/__pycache__
EPIC-rgb-audio/mmaction/core/lr/__pycache__
EPIC-rgb-audio/mmaction/core/optimizer/__pycache__
EPIC-rgb-audio/mmaction/core/runner/__pycache__
EPIC-rgb-audio/mmaction/core/__pycache__
EPIC-rgb-audio/mmaction/datasets/pipelines/__pycache__
EPIC-rgb-audio/mmaction/datasets/samplers/__pycache__
EPIC-rgb-audio/mmaction/datasets/__pycache__
EPIC-rgb-audio/mmaction/localization/__pycache__
EPIC-rgb-audio/mmaction/models/backbones/__pycache__
EPIC-rgb-audio/mmaction/models/common/__pycache__
EPIC-rgb-audio/mmaction/models/heads/__pycache__
EPIC-rgb-audio/mmaction/models/localizers/utils/__pycache__
EPIC-rgb-audio/mmaction/models/localizers/__pycache__
EPIC-rgb-audio/mmaction/models/losses/__pycache__
EPIC-rgb-audio/mmaction/models/necks/__pycache__
EPIC-rgb-audio/mmaction/models/recognizers/__pycache__
EPIC-rgb-audio/mmaction/models/roi_extractors/__pycache__
EPIC-rgb-audio/mmaction/models/__pycache__
EPIC-rgb-audio/mmaction/utils/__pycache__
EPIC-rgb-audio/mmaction/__pycache__
EPIC-rgb-audio/VGGSound/models/__pycache__
EPIC-rgb-audio/VGGSound/__pycache__
EPIC-rgb-audio/__pycache__
